# Common
.DS_Store
*.log
.settings
**/*.class

# IDE
.project
.classpath
.factorypath
**/*.factorypath
**/*.classpath
.vscode/
nb-configuration.xml
/lib
**/.idea/*
**/*.iml
recognizer/bin
recognizer/bin/*

# Integration
integration/bin
integration/bin/*
/docker-compose.yml


# Java
**/target/*

# Owncloud
nextcloud/vendor/*

# Recognizer
fits-1.2.0.zip

# Environment variables:
.env
!/.env
!/registry/.env

# Deployment
deployment-service/deployment-lib/bin
deployment-service/deployment-lib/bin/*
deployment-service/deployment-api/bin
deployment-service/deployment-api/bin/*

# UI
node_modules/
react-gui/node_modules/

# Switchboard
switchboard/.factorypath

