# Common
.DS_Store
*.log
.settings
**/*.class

# IDE
.project
.classpath
.vscode/
nb-configuration.xml
/lib
**/.idea/*
**/*.iml
recognizer/bin
recognizer/bin/*
integration/bin
integration/bin/*

# Java
**/target/*
  
# Owncloud
owncloud/vendor/*
  
# Recognizer
fits-1.2.0.zip

# Environment variables:
.env
!/.env
!/registry/.env

# Deployment
deployment-service/deployment-lib/bin
deployment-service/deployment-lib/bin/*
deployment-service/deployment-api/bin
deployment-service/deployment-api/bin/*

# UI
node_modules/

# Switchboard
switchboard/.factorypath
switchboard/static_files/test-user.json